.advantages {
  @extend %paddind-to-section;
}
.advantages__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.advantages__item {
  flex-basis: calc((100% - 90px) / 4);
}
.advantages__item::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-background-secondary;
  margin-bottom: 30px;
}
.advantages__item--1::before {
  background-image: url(../images/advantages/antenna.svg);
}
.advantages__item--2::before {
  background-image: url(../images/advantages/clock.svg);
}
.advantages__item--3::before {
  background-image: url(../images/advantages/diagram.svg);
}
.advantages__item--4:before {
  background-image: url(../images/advantages/astronaut.svg);
}
.advantages__title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages__text {
  line-height: 1.71429;
  color: $color-text-secondary;
}
