.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}
.advantages__list {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.advantages__item::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-background-secondary;
  margin-bottom: 30px;
}
.advantages__item--1::before {
  background-image: url(../images/advantages/antenna.svg);
}
.advantages__item--2::before {
  background-image: url(../images/advantages/clock.svg);
}
.advantages__item--3::before {
  background-image: url(../images/advantages/diagram.svg);
}
.advantages__item--4:before {
  background-image: url(../images/advantages/astronaut.svg);
}
.advantages__title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  align-content: center;
}
.advantages__text {
  line-height: 1.71429;
  color: $color-text-secondary;
}
@media (min-width: 768px) {
  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: space-between;
  }
  .advantages-item {
    flex-basis: calc((100% - 30px) / 2);
    // max-width: 350px;
  }
}
@media (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .advantages__list {
    @include flex-just-align-gap(space-between, flex-start, 30px);
  }
  .advantages__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
