.clients {
  @extend %paddind-to-section;
}
.clients__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.clients__list {
  @include flex-just-align-gap(none, none, 30px);
}
.clients__link {
  display: block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid $color-icons;
  border-radius: 4px;
  flex-basis: calc((100% - 150px) / 6);

  @include transition(border, fill);
}

.clients__link:hover .clients__icon {
  fill: $color-text-hover;
}
.clients__link:hover {
  border: 1px solid $color-text-hover;
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: $color-icons;

  @include transition(border, fill);
}
