.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  gap: 30px;
}
.clients-link {
  display: block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid var(--colorIcons);
  border-radius: 4px;
  flex-basis: calc((100% - 150px) / 6);

  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon {
  fill: var(--colorTextHover);
}
.clients-link:hover {
  border: 1px solid var(--colorTextHover);
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--colorIcons);

  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
