.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
.clients__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.clients__list {
  @include flex-just-align-gap(center, center, 30px);
  flex-wrap: wrap;
  align-content: stretch;
}
.clients__link {
  display: block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid $color-icons;
  border-radius: 4px;
  flex-basis: calc((100% - 30px) / 2);
  @include transition(border);
  @include transition(fill);
}

.clients__link:hover .clients__icon {
  fill: $color-text-hover;
}
.clients__link:hover {
  border: 1px solid $color-text-hover;
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: $color-icons;

  @include transition(border);
  @include transition(fill);
}
@media (min-width: 768px) {
  .clients__link {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__list {
    @include flex-just-align-gap(none, none, 30px);
  }
  .clients__link {
    flex-basis: calc((100% - 150px) / 6);
  }
}
