.footer {
  background-color: $color-background-primary;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  gap: 90px;
  align-items: baseline;
}
.footer__logaddress {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer__address {
  line-height: 1.71429;
  color: $color-text-additional;
}
.footer__link {
  line-height: 1.71429;
  color: $color-text-additional-prozoruy;
}
.footer__title {
  font-weight: 700;
  text-transform: uppercase;
  color: $color-text-additional;
}
.footer__icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.icons__list {
  display: flex;
  gap: 10px;
  align-items: center;
}
.icons__link {
  display: block;
  height: 44px;
  width: 44px;
  background-color: $color-icons-footer;
  border-radius: 50%;
  padding: 12px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icons__link:hover {
  background-color: $color-text-hover;
}
.footer__icon {
  fill: $color-text-additional;
  width: 20px;
  height: 20px;
}
.form__title {
  font-weight: 700;
  text-transform: uppercase;
  color: $color-text-additional;
  margin-bottom: 20px;
}
.footer__contact {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 360px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(33, 150, 243, 0);
  padding: 15px;
}
.footer__input:focus {
  outline: none;
}
.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $color-text-additional-prozoruy;
}
