.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid $color-border;
}
.header__container {
  @include flex-just-align-gap(space-between, center, 0px);
}
.menu__list {
  @include flex-just-align-gap(none, center, 50px);
}
.menu__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $color-text-primary;
  position: relative;

  @include transition(color);
}
.menu__link:hover {
  color: $color-text-hover;
}
.menu__link::after {
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: $color-text-hover;
  position: absolute;
  bottom: -28px;
  left: 0;
  opacity: 0;

  transform: scaleX(0) translateY(10px);
  transform-origin: center;
  @include transition(transform, opacity);
}
.menu__link--active::after,
.menu__link:hover::after {
  opacity: 1;
  transform: scaleX(1) translateY(0);
}
.header__address {
  @include flex-just-align-gap(none, center, 30px);
}
.address__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $color-text-secondary;
  text-decoration: none;

  @include transition(color);
}
.address__item:hover .address__link {
  color: $color-text-hover;
}
.address__icon {
  fill: $color-text-secondary;
  @include transition(fill);
}
.address__item:hover .address__icon {
  fill: $color-text-hover;
}
.address__icon--one {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.address__icon--two {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
