.social__list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
}
.social__link {
  display: block;
  background-color: #ffffff;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}
.social__icon:hover {
  background-color: $color-text-hover;
  fill: $color-text-additional;
}
.social__icon {
  fill: $color-icons;
  height: 44px;
  width: 44px;
  padding: 12px;
  border-radius: 50%;

  @include transition(background-color, fill);
}
