.social__list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
  padding-left: 122px;
  padding-right: 122px;
}
.social__link {
  display: block;
  background-color: #ffffff;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}
.social__icon:hover {
  background-color: $color-text-hover;
  fill: $color-text-additional;
}
.social__icon {
  fill: $color-icons;
  height: 44px;
  width: 44px;
  padding: 12px;
  border-radius: 50%;

  @include transition(background-color);
  @include transition(fill);
}
@media (min-width: 768px) {
  .social__list {
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media (min-width: 1200px) {
  .social__list {
    padding-left: 32px;
    padding-right: 32px;
  }
}
