.team {
  @extend %paddind-to-section;
  background-color: $color-background-secondary;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.team__members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media (min-width: 768px) {
}
@media (min-width: 1200px) {
  .team__members {
    justify-content: space-between;
    gap: 30px;
  }
}
