.teammate {
  flex-basis: 0;
  flex-grow: 1;
  background-color: $color-text-additional;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding-bottom: 30px;
}
.teammate__foto {
  margin-bottom: 30px;
}
.teammate__name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}
.teammate__role {
  font-size: 16px;
  color: $color-text-secondary;
  text-align: center;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .teammate {
    flex-basis: calc((100% - 90px) / 4);
  }
}
