.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--colorBackgroundSecondary);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.team-members {
  display: flex;
  justify-content: space-between;
}
