@mixin flex-just-align-gap($justify-content, $align-items, $gap) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}
@mixin button($border, $padding) {
  border-radius: $border;
  padding: $padding;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: $color-text-additional;
  background-color: $color-text-hover;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: opacity, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@mixin transition($property) {
  transition-property: $property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
