:root {
  --colorTextPrimary: #212121;
  --colorTextSecondary: #757575;
  --colorTextAdditional: #ffffff;
  --colorTextAdditionalProzoruy: rgba(255, 255, 255, 0.6);
  --colorTextHover: #2196f3;
  --colorBackgroundPrimary: #2f303a;
  --colorBackgroundSecondary: #f5f4fa;
  --colorBorder: #eee;
  --colorIcons: #afb1b8;
  --colorIconsFooter: rgba(255, 255, 255, 0.1);
  --colorFormInput: rgba(33, 33, 33, 0.2);
}
