$color-text-primary: #212121;
$color-text-secondary: #757575;
$color-text-additional: #ffffff;
$color-text-additional-prozoruy: rgba(255, 255, 255, 0.6);
$color-text-hover: #2196f3;
$color-background-primary: #2f303a;
$color-background-secondary: #f5f4fa;
$color-border: #eee;
$color-icons: #afb1b8;
$color-icons-footer: rgba(255, 255, 255, 0.1);
$color-form-input: rgba(33, 33, 33, 0.2);
