.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer__icons, .footer__list, .footer__logaddress, .form__contacts, .form, .hero__container {
  display: flex;
  flex-direction: column;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

button,
input {
  border: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
}

.container {
  min-width: 480px;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

.header__mobilemenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.header__mobilemenu.open {
  transform: translateX(0);
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 40px;
  margin-bottom: 300px;
}

.menu__link {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover {
  color: #2196f3;
}

.header__address {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  position: absolute;
  left: 40px;
}

.address__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  font-size: 24px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover {
  color: #2196f3;
}

.address__link--two {
  font-size: 34px;
}

.address__icon {
  display: none;
}

.header__social {
  display: flex;
  align-items: center;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 40px;
}

.social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header__btn {
  display: block;
  z-index: 10;
}

.header__btn {
  position: relative;
  width: 20px;
  height: 15px;
  background-color: #fff;
}
.header__btn::before, .header__btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #333;
  left: 0;
}
.header__btn::before {
  top: 0;
}
.header__btn::after {
  bottom: 0;
}

.header__btn--icon {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1.5px;
  width: 100%;
  background-color: #333;
  transform: translateY(-50%);
  transition: transform 0.5s ease;
}

.open ~ .header__btn .header__btn--icon {
  transform: rotate(45deg);
}

.open ~ .header__btn::before {
  transform: rotate(45deg);
  top: 50%;
}

.open ~ .header__btn::after {
  transform: rotate(-45deg);
  top: 50%;
}

@media (min-width: 768px) {
  .header {
    padding-bottom: 20px;
  }
  .header__mobilemenu {
    position: relative;
    transform: translateX(0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
  }
  .menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: row;
    margin-bottom: 0;
  }
  .menu__link {
    font-size: inherit;
  }
  .menu__link::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    position: absolute;
    bottom: -28px;
    left: 0;
    opacity: 0;
    transform: scaleX(0) translateY(10px);
    transform-origin: center;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link--active::after,
  .menu__link:hover::after {
    opacity: 1;
    transform: scaleX(1) translateY(0);
  }
  .header__address {
    display: flex;
    justify-content: none;
    align-items: center;
    gap: 10px;
  }
  .address__link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    font-size: 12px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address__item:hover .address__link {
    color: #2196f3;
  }
  .address__icon {
    fill: #757575;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address__item:hover .address__icon {
    fill: #2196f3;
  }
  .address__icon--one {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  .address__icon--two {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
  .header__btn {
    display: none;
  }
  .header__social {
    display: none;
  }
}
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2588235294), rgba(47, 48, 58, 0.2588235294)), url(../images/hero/heromobile.jpg), url(../images/hero/heromobile@2x.jpg);
  padding-top: 120px;
  padding-bottom: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__container {
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  width: 360px;
}

@media (min-width: 768px), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-device-pixel-ratio: 2) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2588235294), rgba(47, 48, 58, 0.2588235294)), url(../images/hero/herotablet.jpg), url(../images/hero/herotablet@2x.jpg);
  }
}
@media (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-device-pixel-ratio: 2) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2588235294), rgba(47, 48, 58, 0.2588235294)), url(../images/hero/herodesktop.jpg), url(../images/hero/herodesktop@2x.jpg);
  }
  .hero__title {
    font-size: 44px;
    width: 695px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 200%) scale(0);
}

.modal {
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 530px;
  min-height: 580px;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #afb1b8;
}

.modal__img {
  height: 11px;
  width: 11px;
  background-color: #ffffff;
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__close:hover .modal__img {
  fill: #2196f3;
}

.no-scroll {
  overflow: hidden;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-bottom: 12px;
}

.form__contacts {
  align-items: baseline;
  gap: 10px;
  margin-bottom: 30px;
}

.form__contact {
  position: relative;
}

.form__contact:focus-within {
  fill: #2196f3;
}

.form__contact:hover {
  border-color: #2196f3;
  fill: #2196f3;
}

.form__label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding: 15px 5px 15px 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__img {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 12px;
  color: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__textarea:hover {
  border-color: #2196f3;
}

.form__input:focus,
.form__textarea:focus {
  outline: none;
  border-color: #2196f3;
}

.form__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea::-moz-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__check {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox__label {
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox__link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2196f3;
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: column;
}

.advantages__item {
  flex-basis: 0;
}

.advantages__item::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.advantages__item--1::before {
  background-image: url(../images/advantages/antenna.svg);
}

.advantages__item--2::before {
  background-image: url(../images/advantages/clock.svg);
}

.advantages__item--3::before {
  background-image: url(../images/advantages/diagram.svg);
}

.advantages__item--4:before {
  background-image: url(../images/advantages/astronaut.svg);
}

.advantages__title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  align-content: center;
}

.advantages__text {
  line-height: 1.71429;
  color: #757575;
}

@media (min-width: 768px) {
  .advantages__list {
    flex-wrap: wrap;
  }
  .advantages-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .advantages__list {
    display: flex;
    justify-content: space-between;
    align-items: none;
    gap: 30px;
  }
  .advantages__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.work {
  display: none;
  padding-bottom: 94px;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.work__images {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.work__imgfoto {
  position: relative;
}

.work__foto {
  flex-basis: calc((100% - 60px) / 3);
}

.work__name {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (min-width: 1200px) {
  .work {
    display: block;
  }
}
.team {
  background-color: #f5f4fa;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.team__members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media (min-width: 1200px) {
  .team__members {
    justify-content: space-between;
    gap: 30px;
  }
}
.teammate {
  flex-basis: 0;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding-bottom: 30px;
}

.teammate__foto {
  margin-bottom: 30px;
}

.teammate__name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.teammate__role {
  font-size: 16px;
  color: #757575;
  text-align: center;
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .teammate {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.social__list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
  padding-left: 122px;
  padding-right: 122px;
}

.social__link {
  display: block;
  background-color: #ffffff;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.social__icon:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.social__icon {
  fill: #afb1b8;
  height: 44px;
  width: 44px;
  padding: 12px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .social__list {
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media (min-width: 1200px) {
  .social__list {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  align-content: stretch;
}

.clients__link {
  display: block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  flex-basis: calc((100% - 30px) / 2);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon {
  fill: #2196f3;
}

.clients__link:hover {
  border: 1px solid #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .clients__link {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__list {
    display: flex;
    justify-content: none;
    align-items: none;
    gap: 30px;
  }
  .clients__link {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.footer__logo {
  margin-bottom: 20px;
  display: inline-block;
}

.footer__logaddress {
  gap: 20px;
}

.footer__list {
  gap: 9px;
  align-items: center;
}

.footer__address {
  line-height: 1.71429;
  color: #ffffff;
}

.footer__link {
  line-height: 1.71429;
  color: rgba(255, 255, 255, 0.6);
}

.footer__title {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__icons {
  gap: 20px;
}

.icons__list {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icons__link {
  display: block;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 12px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icons__link:hover {
  background-color: #2196f3;
}

.footer__icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.form__title {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__contact {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-direction: column;
}

.footer__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 360px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(33, 150, 243, 0);
  padding: 15px;
}

.footer__input:focus {
  outline: none;
}

.footer__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 768px) {
  .footer-container {
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
  }
}
@media (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 60px;
  }
  .footer__contact {
    flex-direction: row;
  }
}
.btn__hero {
  border-radius: 4px;
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: opacity, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__hero:hover {
  opacity: 0.9;
  box-shadow: 4px 3px 5px 0px #212121;
}

.modal__submit {
  border-radius: 4px;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: opacity, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit:hover {
  box-shadow: 4px 3px 5px 0px #212121;
}

.btn__submit {
  border-radius: 4px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: opacity, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 10px;
  padding: 10px 30px;
}

.btn__submit:hover {
  opacity: 0.9;
  box-shadow: 4px 3px 5px 0px #212121;
}

.btn__img {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.projects {
  padding-top: 40px;
  padding-bottom: 60px;
}

.projects__contanier {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 30px;
}

.project {
  flex-basis: 0;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.project__photo {
  width: 450px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.project__photo:hover .project__overlay {
  transform: translate(0);
}

.project__overlay {
  padding: 77px 25px;
  background-color: rgba(33, 149, 243, 0.8549019608);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.55556;
  color: #ffffff;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 5px;
  padding-left: 24px;
}

.project__type {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  margin-bottom: 20px;
  padding-left: 24px;
}

@media (min-width: 768px) {
  .projects {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .projects__contanier {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .project {
    flex-basis: calc((100% - 30px) / 2);
  }
  .project__photo {
    width: 355px;
  }
  .project__overlay {
    padding: 50px 25px;
  }
}
@media (min-width: 1200px) {
  .projects {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .project {
    flex-basis: calc((100% - 60px) / 3);
  }
  .project__photo {
    width: 369px;
  }
  .project__overlay {
    padding: 65px 25px;
  }
}
.projects__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 50px;
}

.list__button {
  flex-basis: calc((100% - 16px) / 3);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: inherit;
  line-height: 1.625;
  text-align: center;
  color: inherit;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list__button:hover {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .projects__list {
    justify-content: center;
  }
  .list__button {
    flex-basis: 0;
  }
}